# Example environment configuration file

# App Express
PORT=4000
ALLOWED_ORIGINS=http://localhost:3000
JWT_SECRET=MySuperSecret

# DATABASE
DATABASE_URL=postgres://blablabook:blablabookpwd@localhost:5433/blablabookdb
