# Example environment configuration file

# App Express
PORT=4000
ALLOWED_ORIGINS=http://localhost:3000
JWT_SECRET=MySuperSecret

# Resend
RESEND_API_KEY=your_resend_api_key
RESEND_DOMAIN_NAME=your_resend_domain_name
RESEND_EMAIL_RECEIVER=your_resend_email_receiver

# DATABASE
DATABASE_URL=postgres://blablabook:blablabookpwd@localhost:5433/blablabookdb

# Google Books API
GOOGLE_BOOKS_API_KEY=your_google_books_api_key