# Example environment configuration file

# App Express
PORT=3000
ALLOWED_ORIGINS=http://localhost:3001
JWT_SECRET=MySuperSecret

# DATABASE
DATABASE_URL=postgres://blablabook:blablabookpwd@localhost:5433/blablabookdb
